.mvn
.metadata
.class
.log
.gradle
.project
.settings
.classpath
bin
target
logs
.idea
*.iml
out
pinyin
assembly
**/*.bak
.DS_Store
**/build/**
**/gradle/**
gradlew.*
**/*.class
**/*.jar
**/.gradle/**
**/*.DS_Store
gradlew
